<div
  class="relative w-full overflow-hidden"
  (pointerdown)="pointerdown($event)"
  [style.height.px]="getIconLength()"
  [style.background-color]="getBackgroundColor()"
>
  <div
    class="absolute z-10 border-2 border-black"
    [style.width.px]="getIconLength()"
    [style.height.px]="getIconLength()"
    [style.top.px]="0"
    [style.left.px]="getLeftScrollLimit()"
  ></div>
  <sh-app-icon-two
    *ngFor="let app of getData(); let i = index"
    class="absolute"
    [sideLength]="getSideLength()"
    [padding]="getPadding()"
    [border]="getBorder()"
    [style.top.px]="0"
    [style.left.px]="i * getIconLength() + getOffset()"
  ></sh-app-icon-two>
</div>
