<div
  class="relative flex rounded-lg border border-white bg-black"
  [style.padding.px]="getPadding()"
  [style.border]="getBorder()"
  [style.width.px]="getSideLength()"
  [style.height.px]="getSideLength()"
>
  <div class="flex-1" [style.border]="getBorder()"></div>
  <img
    class="flex-1"
    [style.border]="getBorder()"
    src="assets/VisualizeIt.png"
  />
  <sh-app-image
    [app]="app"
    [sideLength]="side_length"
    [centerOffset]="center_offset"
    [hideDescription]="hide_description"
    [translateY]="translate_y"
  ></sh-app-image>
</div>
