<div
  class="absolute left-0 right-0 bottom-0 bg-gray-200"
  (pointerdown)="pointerdown($event)"
  (wheel)="scrolled($event)"
  [style.height.px]="getMinifiedIconLength()"
></div>
<div
  [style.opacity]="getOpacity()"
  (pointerdown)="pointerdown($event)"
  (wheel)="scrolled($event)"
  [style.pointer-events]="getOverlayPointerEvents()"
  class="absolute top-0 bottom-0 right-0 left-0 bg-black transition-all duration-200"
></div>
<div
  #container
  class="pointer-events-none relative mx-auto bg-transparent"
  style="width: min(100%, 1000px)"
  [style.height.px]="getMinifiedIconLength()"
  [style.perspective.px]="getPerspective()"
>
  <div
    class="absolute z-10 border-2 border-black"
    [style.width.px]="getIconLength()"
    [style.height.px]="getIconLength()"
    [style.top.px]="0"
    [style.left.px]="getLeftScrollLimit()"
    [style.transform]="getMiddleTransform()"
  ></div>
  <sh-app-icon
    *ngFor="let app of getData(); let i = index"
    class="absolute"
    [app]="app"
    [sideLength]="getSideLength()"
    [padding]="getPadding()"
    [border]="getBorder()"
    [style.top.px]="0"
    [style.left.px]="getCenter() + i * getIconLength() + getOffset()"
    [style.transform]="getTransform(i)"
    [style.filter]="getFilter(i)"
    [style.z-index]="getZIndex(i)"
  ></sh-app-icon>
</div>
