<div
  class="absolute left-0 right-0 bottom-0 bg-gray-200"
  (pointerdown)="pointerdown($event)"
  (wheel)="scrolled($event)"
  [style.height.px]="getMinifiedIconLength()"
></div>
<div
  [style.opacity]="getOpacity()"
  (pointerdown)="pointerdown($event)"
  (wheel)="scrolled($event)"
  [style.pointer-events]="getOverlayPointerEvents()"
  class="absolute top-0 bottom-0 right-0 left-0 flex bg-black transition-all duration-200"
>
  <!-- <div class="m-auto"><span class="bg-green-500">fd</span>></div> -->
</div>
<sh-app-image
  class="pointer-events-none absolute"
  *ngFor="let app of getData(); let i = index"
  [app]="app"
  [sideLength]="getSideLength()"
  [centerOffset]="getScrollDist(i)"
  [hideDescription]="isSelected()"
  [translateY]="getTranslateY()"
  [style.left.px]="getDescriptionLeft(i)"
  [style.bottom.px]="getDescriptionBottom(i)"
></sh-app-image>
<div
  #container
  class="pointer-events-none relative mx-auto bg-transparent"
  style="width: min(100%, 800px)"
  [style.height.px]="getMinifiedIconLength()"
  [style.perspective.px]="getPerspective()"
>
  <div
    class="absolute z-10 rounded-lg border-4 border-white"
    [style.width.px]="getIconLength()"
    [style.height.px]="getIconLength()"
    [style.bottom.px]="getBottom()"
    [style.left.px]="getLeftScrollLimit()"
    [style.transform]="getMiddleTransform()"
  ></div>
  <sh-app-icon
    *ngFor="let app of getData(); let i = index"
    class="absolute"
    [app]="app"
    [sideLength]="getSideLength()"
    [padding]="getPadding()"
    [border]="getBorder()"
    [centerOffset]="getScrollDist(i)"
    [hideDescription]="isSelected()"
    [translateY]="getTranslateY()"
    [style.bottom.px]="getBottom()"
    [style.left.px]="getIconLeft(i)"
    [style.transform]="getTransform(i)"
    [style.filter]="getFilter(i)"
    [style.z-index]="getZIndex(i)"
  ></sh-app-icon>
</div>
