<div
  #container
  class="relative w-full overflow-hidden bg-gray-100"
  (pointerdown)="pointerdown($event)"
  (wheel)="scrolled($event)"
  [style.height.px]="getIconLength()"
  [style.perspective.px]="getPerspective()"
>
  <div
    class="absolute z-10 border-2 border-black"
    [style.width.px]="getIconLength()"
    [style.height.px]="getIconLength()"
    [style.top.px]="0"
    [style.left.px]="getLeftScrollLimit()"
  ></div>
  <sh-app-icon
    *ngFor="let app of getData(); let i = index"
    class="absolute"
    [sideLength]="getSideLength()"
    [padding]="getPadding()"
    [border]="getBorder()"
    [style.top.px]="0"
    [style.left.px]="getCenter() + i * getIconLength() + getOffset()"
    [style.transform]="getTransform(i)"
    [style.filter]="getFilter(i)"
    [style.z-index]="getZ(i)"
  ></sh-app-icon>
</div>
