<div
  *ngIf="doesDescriptionExist()"
  class="rounded-lg bg-black text-center text-white opacity-0 shadow-lg duration-300"
  [style.width.px]="getDescriptionWidth()"
  [style.height.px]="getDescriptionHeight()"
  [style.opacity]="getOpacity()"
  [style.transition-property]="'opacity'"
>
  <div class="relative flex h-full w-full flex-col">
    <img
      *ngIf="hasImage()"
      [style.object-fit]="'cover'"
      [src]="getImage()"
      class="absolute top-0 left-0 z-0 h-full w-full rounded-lg"
    />
    <div
      *ngIf="hasImage()"
      class="absolute top-0 right-0 left-0 bottom-0 z-0 rounded-lg bg-black opacity-20"
    ></div>
    <div
      class="z-10 mb-auto flex w-full gap-3 rounded-t-lg px-3 py-1"
      [style.background-color]="'rgb(0,0,0,0.7)'"
    >
      <span class="mx-auto font-bold">{{ getTitle() }}</span>
    </div>
    <div
      class="z-10 mt-auto flex w-full gap-3 rounded-b-lg px-3 py-1"
      [style.background-color]="'rgb(0,0,0,0.7)'"
    >
      <span class="mx-auto">{{ getDescription() }}</span>
    </div>
  </div>
</div>
