/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

html,
body {
  /* height: 100%; */
  overflow: hidden;
}

body {
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
}
